
@using Canteen_Management_System.Models
@model Customer

<html>
<head>
    <style>
        body {
            color: #000;
            overflow-x: hidden;
            height: 100%;
            /*background-image: url("https://i.imgur.com/GMmCQHC.png");*/
            background-repeat: no-repeat;
            background-size: 100% 100%
        }

        .card {
            padding: 30px 40px;
            margin-top: 60px;
            margin-bottom: 60px;
            border: none !important;
            box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2)
        }

        .blue-text {
            color: #00BCD4
        }

        .form-control-label {
            margin-bottom: 0
        }

        input, textarea, button, #honours {
            padding: 8px 15px;
            border-radius: 5px !important;
            margin: 5px 0px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            font-size: 18px !important;
            font-weight: 300
        }

            input:focus, textarea:focus {
                -moz-box-shadow: none !important;
                -webkit-box-shadow: none !important;
                box-shadow: none !important;
                border: 1px solid #00BCD4;
                outline-width: 0;
                font-weight: 400
            }

        .btn-block {
            text-transform: uppercase;
            font-size: 15px !important;
            font-weight: 400;
            height: 43px;
            cursor: pointer
        }

            .btn-block:hover {
                color: #fff !important;
            }

        button:focus {
            -moz-box-shadow: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            outline-width: 0
        }
    </style>
</head>
<body>
    <div id="successMessage">@TempData["successMessage"]</div>
    <div id="warningMessage">@TempData["warningMessage"]</div>
    <div class="container-fluid px-1 py-5 mx-auto">
        <div class="row d-flex justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
                <div class="card">
                    <h5 class="text-center mb-4">New Customer</h5>
                    @*<form class="form-card" onsubmit="event.preventDefault()">*@
                    @using (Html.BeginForm("NewCustomer", "Admin", "Post"))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row justify-content-between text-start">
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label class="form-control-label px-3">Customer Name<span class="text-danger"> *</span></label> @*<input type="text" id="fname" name="fname" placeholder="Enter your first name" >*@
                                @Html.EditorFor(x => x.Name, new { htmlAttributes = new { @placeholder = "Customer Name", @id = "alias" } })
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label class="form-control-label px-3">Mobile Number<span class="text-danger"> *</span></label>
                                @Html.EditorFor(x => x.Mobile, new { htmlAttributes = new { @placeholder = "+91 707...", @id = "mobile" } })
                            </div>
                        </div>
                        <div class="row justify-content-between text-start">
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label class="form-control-label px-3">College Roll Number<span class="text-danger"> *</span></label>
                                @Html.EditorFor(x => x.College_Roll, new { htmlAttributes = new { @placeholder = "BS(P)-25...", @id = "collegeroll" } })
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label class="form-control-label px-3">Guardian Mobile number<span class="text-danger"> *</span></label>
                                @Html.EditorFor(x => x.Guardian_Mobile, new { htmlAttributes = new { @placeholder = "Guardian Mobile Number", @id = "guardianMobile" } })
                            </div>
                        </div>
                        <div class="row justify-content-between text-start">
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label class="form-control-label px-3">Email ID<span class="text-danger"> *</span></label>
                                @Html.EditorFor(x => x.Email, new { htmlAttributes = new { @placeholder = "something@gmail.com", @id = "email" } })
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label class="form-control-label px-3">Honours<span class="text-danger"> *</span></label>
                                @Html.DropDownListFor(x => x.Honours, ViewBag.Honours as SelectList, "--Select--", new { @id = "honours" })
                            </div>
                        </div>
                        <div class="row justify-content-between text-start">
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label class="form-control-label px-3">Cateen Number<span class="text-danger"> *</span></label>
                                @Html.EditorFor(x => x.Alias, new { htmlAttributes = new { @placeholder = "25111...", @id = "alias" } })
                            </div>
                        </div>
                        <div class="row justify-content-between text-start">
                            <div class="form-group col-12 flex-column d-flex">
                                <label class="form-control-label px-3">Address <span class="text-danger"> *</span></label>
                                @Html.EditorFor(x => x.Address, new { htmlAttributes = new { @placeholder = "At/po : ...", @id = "address" } })
                            </div>
                        </div>
                        <div class="row justify-content-end mt-lg-4">
                            <div class="form-group col-sm-12 text-center"> <button type="submit" class="btn btn-success w-100">Register</button> </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>